<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Updating Post</title>
</head>
<body>

<h1>Update Post</h1>
<form action="/posts/<%= post.id %>?_method=PUT" method="post">

  <input type="text" name="content" value="<%= post.content %>">

  <input type="submit" value="Update">

</form>
  
</body>
</html>